#archive-wrapper {
	padding-top: $spacer * 2;
}

.hfeed  article,
.hfeed-post {

	.wp-post-image {
		margin-bottom: $spacer;
	}

}

.archive,
.blog {

}

.post-navigation {
	margin-top: $spacer * 2;

	.nav-links {
		font-weight: $font-weight-bold;
	}

}

.loop-header-cover {
	align-items: flex-end;
	margin-bottom: $spacer * 6 !important;
	min-height: 440px;

	.entry-title {
		max-width: 740px;
	}
	
}