body.understrap-no-sidebar {

    .alignwide {
        margin: 0 calc(50% - 37vw);
        max-width: 74vw;

        @include media-breakpoint-down(lg) {
            margin: 0 calc(50% - 50vw);
            max-width: 100vw;    
        }
    }
}

@media ( max-width: 1920px ) {
    body.understrap-no-sidebar .wp-block-media-text.alignwide {
        margin: 0 calc(50% - 50vw);
        max-width: 100vw;    
    }
}

.wp-block-group.alignfull {

    > .wp-block-group__inner-container {
        @include make-container();
        @each $breakpoint, $container-max-width in $container-max-widths {
            @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
                max-width: $container-max-width;
            }
        }
    }

}


.wp-block-group, 
.wp-block-cover {

	&.alignfull, 
    &.alignwide {
		padding: $spacer * 4 0;
	}
}

.wp-block-cover {

	&.is-style-image-header,
    #hero {
		padding-top: 300px;
		align-items: flex-end;
		min-height: 640px;

		.entry-title,
        .wp-block-heading {
			max-width: 800px;
            margin-bottom: $spacer !important;
		}
	}

    .wp-block-cover__inner-container {
        
        > *:last-child {
            margin-bottom: 0;
        }

    }

}

.wp-block-group {

    &.is-style-traslucido {
        background: rgba($white, 0.6);
        backdrop-filter: blur(6px);
        padding: $spacer * 2;
        border-radius: $border-radius;
        box-shadow: $box-shadow-sm;
        color: $body-color;
    }

    &.is-layout-grid {
        gap: $spacer;
    }

    &.is-style-bordered {
        border: $border-width solid;
        border-radius: $border-radius;
        padding: $spacer;
    }

    &.is-style-circular {

        
    }

}

.wp-block-media-text {

    .wp-block-media-text__media {
        border-radius: $border-radius;
        overflow: hidden;
    }

    &.is-style-bordered-content {
        gap: $spacer;
        
        .wp-block-media-text__content {
            border: 1px solid $border-color;
            border-radius: $border-radius;
            padding: $spacer * 2;
        }

    }

    &.has-background {
        border-radius: $border-radius;
        overflow: hidden;

        .wp-block-media-text__content {
            padding: $spacer * 2;
        }

    }
}

.btn:not([class*="outline"]),
.wp-block-buttons .wp-block-button:not(.is-style-outline) .wp-block-button__link {
    text-transform: uppercase;
}

.wp-block-buttons {
    margin-top: $spacer * 4;

    .wp-block-button {

        .wp-block-button__link {
            padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
            font-size: var(--#{$prefix}btn-font-size);
            border-radius: var(--#{$prefix}btn-border-radius);
            
            font-family: $btn-font-family;
            font-weight: $btn-font-weight;
            line-height: $btn-line-height;
            box-shadow: $btn-box-shadow;
            transition: $transition-base;

            &:focus {
                box-shadow: $btn-focus-box-shadow;
            }

            &:active {
                box-shadow: $btn-active-box-shadow;
            }
        }

        &.is-style-outline .wp-block-button__link {
            border-width: $btn-border-width;
        }

    }
}


.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background) {
    background-color: $primary;
}


.wp-block-buttons {
    margin-bottom: $paragraph-margin-bottom;

    .wp-block-button {

        &.is-style-arrow-link {
 
            .wp-block-button__link {
                background-color: transparent;
                padding-left: 0;
                padding-right: 5rem;
                border-color: transparent;
                position: relative;
                text-align: left;
                box-shadow: none;

                &:not(.has-text-color) {
                    color: $body-color;
                }

                &:after {
                    content: "";
                    display: block;
                    width: 3rem;
                    height: 3rem;
                    mask-image: url('../img/flecha-derecha.svg');
                    mask-repeat: no-repeat;
                    mask-position: center;
                    background-color: $primary;
                    
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: $transition-base;
                }

                &:hover:after {
                    right: 0;
                }
            }

        }

    }
}

.wp-block-columns {
    gap: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;
    justify-content: center;

    &.is-style-gapless {
        @include media-breakpoint-up(md) {
            gap: 0;
        }
    }
}

.is-style-cifra-circulo {
    margin-bottom: 2em !important;
    background-color: $primary;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5rem;
    color: $white;
}

.wp-block-cover .is-style-cifra-circulo {
    background-color: $white;
    color: $primary;
}

.form-steps {

    .wp-block-column:not(:last-child) .is-style-cifra-circulo {

        &:after {

            @include media-breakpoint-up(md) {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: calc( 100% + $spacer*2 );
                width: $spacer * .5;
                border-top: 1px dashed $primary;
            }

            @include media-breakpoint-up(lg) {
                width: $spacer * 4;
            }

            @include media-breakpoint-up(xl) {
                width: $spacer * 8;
            }

        }

    }

}