body.understrap-no-sidebar {

    .alignwide {
        margin: 0 calc(50% - 37vw);
        max-width: 74vw;

        @include media-breakpoint-down(lg) {
            margin: 0 calc(50% - 50vw);
            max-width: 100vw;    
        }
    }
}

@media ( max-width: 1920px ) {
    body.understrap-no-sidebar .wp-block-media-text.alignwide {
        margin: 0 calc(50% - 50vw);
        max-width: 100vw;    
    }
}

.wp-block-group.alignfull {

    > .wp-block-group__inner-container {
        @include make-container();
        @each $breakpoint, $container-max-width in $container-max-widths {
            @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
                max-width: $container-max-width;
            }
        }
    }

}

// Wide alignments and covers.
#wrapper-prefooter {

	.alignfull {
		margin: 0 calc(50% - 50vw);
		max-width: 100vw;
		width: 100vw;

		> .wp-block-cover__inner-container,
        > .wp-block-group__inner-container {
			@include make-container();
			@each $breakpoint, $container-max-width in $container-max-widths {
				@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
					max-width: $container-max-width;
				}
			}
		}
	}

}


.wp-block-group, 
.wp-block-cover {

	&.alignfull, 
    &.alignwide {
		padding: $spacer * 4 0;
	}
}

.wp-block-cover {
    align-items: flex-end;

	&.is-style-image-header,
    #hero {
		padding-top: 300px;
		align-items: flex-end;

        @include media-breakpoint-up(lg) {
            min-height: 640px;
        }

		.entry-title,
        .wp-block-heading {
			max-width: 800px;
            margin-bottom: $spacer !important;
		}
	}

    .wp-block-cover__inner-container {
        
        > *:last-child {
            margin-bottom: 0;
        }

    }

}

:where(.wp-block-cover-image:not(.has-text-color)), 
:where(.wp-block-cover:not(.has-text-color)) {

    .wp-block-button__link img {
        filter: brightness(0) invert(1);
        transform: translateX(-.25em);
    }

}

.wp-block-group {

    &.is-style-traslucido {
        background: rgba($white, 0.6);
        backdrop-filter: blur(6px);
        padding: $spacer * 2;
        border-radius: $border-radius;
        box-shadow: $box-shadow-sm;
        color: var(--bs-body-color);
    }

    &.is-layout-grid {
        gap: $spacer;
    }

    &.is-style-bordered {
        border: $border-width solid;
        border-radius: $border-radius;
        padding: $spacer;

        .wp-block-group__inner-container > *:last-child {
            margin-bottom: 0 !important;
        }

    }

    &.has-text-color.has-background {
        display: inline-block;

        figure.wp-block-image img {
            margin-bottom: 0;
            padding: .25rem;
        }

        &.has-white-color {

            img[src$=".svg"] {
                filter: brightness(0) invert(1);
            }

        }

    }

    &.is-style-circular {
        text-align: center;

        &:before {
            content: "";
            // border-radius: 50%;
            // border: $border-width solid;
            background-image: url('../img/circulo-con-flechas.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .wp-block-group__inner-container {

            > * {
                width: 100%;

                &:nth-child(n+2) {
                    padding: $spacer * .5 $spacer;
                    background-color: rgba($white, .2);
                    backdrop-filter: blur(6px);
                    border-radius: $border-radius-sm;
                }

            }

        }

        @include media-breakpoint-up(lg) {
            position: relative;
            width: 100%;
            aspect-ratio: 1;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .wp-block-group__inner-container {
             
                > * {
                    position: absolute;
                    margin: $spacer auto 0;
                    max-width: 80%;
                    left: 50%;
                    transform: translateX(-50%);

                    &:first-child {
                        top: 42%;
                        transform: translate(-50%, -50%);
                    }

                    &:nth-child(n+2) {
                        width: auto;
                        max-width: 270px;
                        text-align: left;
                    }

                    &:nth-child(2) {
                        top: 0;
                        transform: translate(-50%, -50%);
                    }

                    &:nth-child(3) {
                        left: 0;
                        bottom: 23%;
                        transform: translateX(-20px);
                    }

                    &:nth-child(4) {
                        right: 0;
                        bottom: 23%;
                        transform: translateX(20px);
                    }

                }

            }
        }

        @include media-breakpoint-down(lg) {

            &:before {
                display: block;
                width: 196px;
                height: 196px;
                margin: 0 auto $spacer;
            }

            h2 {
                font-size: 1.5rem;
            }

        }        
        
    }

}

.wp-block-media-text {

    .wp-block-media-text__media {
        border-radius: $border-radius;
        overflow: hidden;
    }

    &.is-style-bordered-content{
        gap: $spacer;
        
        .wp-block-media-text__content {
            border: 1px solid $border-color;
            border-radius: $border-radius;
            padding: $spacer * 2;
        }

    }

    &.is-style-dark-img-bg {
        gap: $spacer;

        .wp-block-media-text__content {
            background-color: var(--wp--preset--color--light);
            border-radius: $border-radius;
            padding: $spacer * 2;
        }
        
        .wp-block-media-text__media {
            background-color: var(--wp--preset--color--primary-80);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $spacer;
        }
    }

    &.has-background {
        border-radius: $border-radius;
        overflow: hidden;

        .wp-block-media-text__content {
            padding: $spacer * 2;
        }

    }
}

.btn:not([class*="outline"]),
.wp-block-buttons .wp-block-button:not(.is-style-outline) .wp-block-button__link {
    text-transform: uppercase;
}

.wp-block-buttons {
    margin-top: $spacer * 4;
    margin-bottom: $paragraph-margin-bottom;

    .wp-block-button {

        .wp-block-button__link {
            padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
            font-size: var(--#{$prefix}btn-font-size);
            border-radius: var(--#{$prefix}btn-border-radius);
            
            font-family: $btn-font-family;
            font-weight: $btn-font-weight;
            line-height: $btn-line-height;
            box-shadow: $btn-box-shadow;
            transition: $transition-base;

            &:focus {
                box-shadow: $btn-focus-box-shadow;
            }

            &:active {
                box-shadow: $btn-active-box-shadow;
            }

            &:not(.has-text-color):hover {
                color: inherit;
            }

        }

        &.is-style-outline .wp-block-button__link {
            border-width: $btn-border-width;
        }

        &.is-style-arrow-link {
 
            .wp-block-button__link {
                background-color: transparent;
                padding-left: 0;
                padding-right: 5rem;
                border-color: transparent;
                position: relative;
                text-align: left;
                box-shadow: none;

                &:not(.has-text-color) {
                    color: var(--bs-body-color);
                }

                &:after {
                    content: "";
                    display: block;
                    width: 3rem;
                    height: 3rem;
                    mask-image: url('../img/flecha-derecha.svg');
                    mask-repeat: no-repeat;
                    mask-position: center;
                    background-color: var(--wp--preset--color--primary);
                    
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: $transition-base;
                }

                &:hover:after {
                    right: 0;
                }
            }

        }

        &.backdrop-filter-blur .wp-block-button__link:hover {
            background-color: rgba($primary, .3) !important;
        }

    }
}


.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background) {
    background-color: var(--wp--preset--color--primary);

    &:hover {
        background-color: var(--wp--preset--color--primary-80);
    }
}

.wp-block-columns {

    @include media-breakpoint-up(md) {
        gap: $grid-gutter-width;
        margin-bottom: $grid-gutter-width;
    }

    &.is-style-gapless {
        @include media-breakpoint-up(md) {
            gap: 0;
        }
    }

    .wp-block-column > .wp-block-group.is-style-traslucido {
        height: 100%;
    }
}

.is-style-cifra-circulo {
    margin-bottom: 2em !important;
    background-color: var(--wp--preset--color--primary);
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5rem;
    color: var(--wp--preset--color--white);
}

.wp-block-cover .is-style-cifra-circulo {
    background-color: var(--wp--preset--color--white);
    color: var(--wp--preset--color--primary);
}

.form-steps {

    .wp-block-column:not(:last-child) .is-style-cifra-circulo {

        &:after {

            @include media-breakpoint-up(md) {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: calc( 100% + $spacer*2 );
                width: $spacer * .5;
                border-top: 1px dashed var(--wp--preset--color--primary);
            }

            @include media-breakpoint-up(lg) {
                width: $spacer * 4;
            }

            @include media-breakpoint-up(xl) {
                width: $spacer * 8;
            }

        }

    }

}

.btn-close {
    border-radius: 0.25rem;
}

.wp-block-list {

    li {
        margin-bottom: .25em;
    }

    > li {
        &::marker {
            content: "↘ ";
            color: var(--wp--preset--color--primary);
            font-size: 1.2em;
        }
    }

    ul li {
        &::marker {
            content: "• ";
        }
    }

    &.is-style-list-grid {
        list-style: none;
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: $spacer * .5;

        li {
            padding: $spacer;
            border-radius: $border-radius-sm;
            // border: $border-width solid $border-color;
            font-size: $font-size-sm;
            background-color: var(--wp--preset--color--light);

            &::marker {
                content: none;
            }

            &:before {
                content: "↘";
                display: inline-block;
                margin-right: $spacer * .5;
            }
        }

    }
}

.accordion {
    margin-bottom: $spacer !important;

    .accordion-item {
        overflow: hidden;
    }

}