// Local font example
@font-face {
    font-family: 'PP Mori';
    src: url('../fonts/PPMori-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    ascent-override: 125%;
}

@font-face {
    font-family: 'PP Mori';
    src: url('../fonts/PPMori-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    ascent-override: 125%;
}