#wrapper-prefooter {
	border-top: 1px solid $gray-300;
}

#wrapper-footer-full {
	background-color: $light;
}

#wrapper-footer {
	padding: $spacer 0 $spacer * 2;
	background-color: $body-bg;
	font-size: $font-size-sm;
	color: $indigo-100;

	a {
		color: $indigo-100;

		&:hover {
			color: $indigo;
		}
	}

	@include media-breakpoint-down(md) {
		text-align: center;
	}

}
