#wrapper-prefooter {
	border-top: 1px solid $gray-300;
}

#wrapper-footer-full {
	background-color: var(--wp--preset--color--light);
}

#wrapper-footer {
	padding: $spacer 0 $spacer * 2;
	background-color: var(--bs-body-bg);
	font-size: $font-size-sm;
	color: var(--wp--preset--color--secondary-10);

	a {
		color: var(--wp--preset--color--secondary-10);

		&:hover {
			color: var(--wp--preset--color--secondary);
		}
	}

	@include media-breakpoint-down(md) {
		text-align: center;
	}

}
