.bg-cover { 
	background-size: cover;
	background-position: center center;
}

.figure-img {
	margin-bottom: $paragraph-margin-bottom;
}

.wp-block-image {

	&:not(.is-style-rounded) img {
		border-radius: $border-radius;
	}

	figcaption {
		font-size: $font-size-sm;
	}
}

.object-fit-cover {
	object-fit: cover;
}

a {

	img, svg {
		transition: $transition-fade;
	}

	&:hover {
		img, svg {
			opacity: .7;
		}
	}
}

.acf-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: $spacer;
	justify-content: flex-end;

	img {
		object-fit: cover;
		height: 260px;

		@include media-breakpoint-up(md) {
			width: 30%;
		

			&:first-child {
				width: calc( 50% - #{$spacer} );
			}

		}

		@include media-breakpoint-up(lg) {
			height: 420px;
		}

		@include media-breakpoint-up(xl) {
			width: 25%;
		}
		
	}
}