.main-nav-buttons {
    gap: $spacer * .75;
    margin-left: $spacer*.5;
}

#main-nav {
    transition: $transition-base;
    padding-top: $spacer;

    .navbar-brand {

        img {
            height: 2rem;
            width: auto;
        }
    }

    &.navbar-dark .navbar-brand img {
        filter: grayscale(100%) brightness(1000%);
    }

    #main-menu {
        gap: $spacer;

        .nav-link {
            padding: .25rem $btn-padding-x-sm;
            border-radius: $btn-border-radius-sm;
            font-size: $font-size-sm;
            border: $btn-border-width solid;
            text-transform: uppercase;
        }

        > li:last-child > .nav-link {
            padding: .25rem $btn-padding-x-sm * 1,5;

            &::after {
                content: '\203A';
                position: relative;
                display: inline-block;
                margin-left: 0.5em;
                font-size: 1.5em;
                line-height: 0;
                top: .07em;
                border: none;
                vertical-align: baseline;
            }

        }

    }

    &.navbar-dark #main-menu > li:last-child > .nav-link {
        background: rgba($white, 0.3);
        backdrop-filter: blur(6px);
        border-color: transparent;
    }

    &.navbar-light #main-menu > li:last-child > .nav-link {
        background-color: var(--wp--preset--color--secondary);
        border-color: var(--wp--preset--color--secondary);
        color: var(--wp--preset--color--white);
    }


}