* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.entry-meta {
    font-size: $font-size-sm;
}

.text-white a {
	color: var(--wp--preset--color--white);
}

.has-large-font-size, 
.has-x-large-font-size, 
.has-larger-font-size, 
.has-huge-font-size {
	line-height: $headings-line-height;
}

.wp-block-button__link.has-medium-font-size {
    font-size: $font-size-base * 1.125 !important;
}

p,
.wp-block-heading {

    &.has-text-align-center {
        margin-left: auto;
        margin-right: auto;
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {

    &:last-child {
        margin-bottom: 0 !important;
    }

}

h4, .h4,
h5, .h5,
h6, .h6 {
    margin-bottom: 1em;
}

.is-style-numeracion {
    font-size: $h6-font-size;

    &:before,
    &:after {
        content: " - ";
    }
}

// ul.wp-block-list {
//     padding-left: 0;

//     li {
//         font-size: $font-size-base * 1.125;
//         margin-bottom: $spacer * .25;
//         background: url('../img/icono-check.svg') no-repeat left top transparent;
//         list-style-type: none;
//         padding-left: 2.5rem;
//         min-height: 2rem;
//     }

// }

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

h6, .h6 {

}

.display-1 {
    line-height: 1;
}

.display-2 {
    line-height: 1;
}

.display-3 {
    line-height: 1;
}

.display-4 {
    line-height: 1;
}

.display-1,
.display-2 {

    sup {
        font-size: .2em;
        top: -2.9em;
    }

}

small,
.small {
    line-height: $headings-line-height;
}

mark,
.mark {

}

blockquote,
.blockquote,
.wp-block-quote {
    font-style: italic;
    font-size: $font-size-base * 1.375;
}

@include media-breakpoint-up(lg) {

    .display-1 {
        font-size: 8rem;
    }

    .display-2 {
        font-size: 5rem;
    }
    
    h1, .h1 {
        font-size: $font-size-base * 4;
    }
    
    h2, .h2 {
        font-size: $font-size-base * 3;
    }
    
    h3, .h3 {

    }
    
    h4, .h4 {

    }

    h5, .h5 {

    }

    h6, .h6 {

    }

    .display-1 {

    }
    
    .display-2 {
    
    }
    
    .display-3 {
    
    }
    
    .display-4 {
    
    }
    
}

#search-wrapper,
#error-404-wrapper {
    padding-top: $spacer*4;

    h1.page-title {
        font-size: $font-size-base * 1.75;
    }

    h2 {
        font-size: $font-size-base * 1.4;
    }
}
