.widget-area {

	.widget {
        margin-bottom: $spacer * 2;
	}
}

.footer-widget {
    margin-bottom: $spacer;
}

#wrapper-footer {

	.footer-widget,
	.footer-widget p {
		margin-bottom: 0;
	}
}

.widget_nav_menu {

	.menu {
		list-style: none;
		padding-left: 0;
	}
}

.wp-block-categories-list,
.wp-block-latest-posts__list {
	list-style: none;
	padding-left: 0;
	
	li {
		margin-bottom: $spacer * .5;
	}
}